{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido/a</h1>
    {% if not products %}
        <p>No hay productos disponible</p>

    {% else %}
    <ul>
        {% for product in products %}
            <li>
                <h2><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
                <P></P>
                <p>Descripción:{{ product.description }}</p>
                <p>Categoría: {{ product.tema }}</p>
                <p>Precio: {{ product.price }}</p>
            
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
