{% extends 'base.html' %}

{% block content %}
  <h2>Iniciar sesión</h2>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="username">Nombre de usuario:</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <br>
    <input type="submit" value="Iniciar sesión">
  </form>
{% endblock %}
