{% extends "base.html" %}

{% block title %}Lista de productos{% endblock %}

{% block content %}
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
